__pycache__
detection
recognition
.pytest_cache
*.pdf
.venv
*.csv
*.tar
*.db
tmp/
.coverage
text_detection/
text_recognition/
*.pdiparams
*.info
*.pdmodel
bin/
.actrc
.secrets
tests/data/logs
mirai-infra/
