__pycache__
detection
recognition
.pytest_cache
*.pdf
.venv
*.csv
*.tar
*.db
tmp/
.coverage
text_detection/
text_recognition/
*.pdiparams
*.info
*.pdmodel
bin/
.actrc
.secrets
mirai-infra/
.vscode/
.DS_STORE
tests/data/logs/
*.ipynb
tests/data/valid/formulaire-cerfa-complete
!apps/server/tests/data/valid/cerfa_11573-09-filled.pdf
!apps/server/tests/data/valid/cerfa_13750-05-1.pdf
apps/server/datasets/*.png
node_modules/
!apps/server/tests/data/valid/test.csv
